<div class="helpleftbox">
    <div class="goodsbox1">
        <div class="helpTit1">新手上路 </div>
        <div class="helpList1 tl">
            ·<a href="/item">查找库存货源</a><br>
            ·<a href="/account/register">发布库存货源</a><br>
            ·<a href="/info/guide#good">价格优势</a><br>
        </div>
    </div>
    <div class="goodsbox1">
        <div class="helpTit1">服务指南 </div>
        <div class="helpList1 tl">
            ·<a href="/info/guide#pub">如何发库存</a><br>
            ·<a href="/info/guide#buy">如何买库存</a><br>
            ·<a href="/info/guide#fee">费用说明</a><br>
        </div>
    </div>
    <div class="goodsbox1">
        <div class="helpTit1">加盟代理 </div>
        <div class="helpList1 tl">
            ·<a href="/info/agent#how">如何做代理</a><br>
            ·<a href="/info/agent#area">地区代理</a><br>
            ·<a href="/info/agent#sub">分代理</a><br>
        </div>
    </div>
</div>