<div class="helpleftbox">
    <div class="goodsbox1">
        <div class="helpTit1">库存货源 </div>
        <div class="helpList1 tl">
            ·<a href="/manage/stocks">我的库存</a><br>
            ·<a href="/item/publish">我要卖库存</a><br>
            ·<a href="/item">我要买库存</a>            
        </div>
    </div>
    <div class="goodsbox1">
        <div class="helpTit1">会员中心</div>
        <div class="helpList1 tl">
            ·<a href="/manage/vip">加入VIP</a><br>
            ·<a href="/manage/changeinfo">修改联系方式</a><br>
            ·<a href="/manage/changepassword">修改密码</a>
        </div>
    </div>
</div>