
@{
    ViewBag.Title = "帮助中心";
}
<div class="block clearfix">
    <div id="articleLeft" class="fl">

        <h1 class="mod2tit" style=" background: red; ">帮助中心</h1><div class="mod1 mod2 blank" id="historybox">
            <span class="lt"></span><span class="lb"></span><span class="rt"></span><span class="rb"></span>
            @Html.Partial("_HelpLink")
        </div>
    </div>
    <div id="articleRight" class="fr">
        <div class="ur_here blank">
            当前位置: <a href="/">首页</a> <code>&gt;</code> 帮助中心
        </div>	 <div class="articleBox">
            <h1 class="articleTit tc">帮助中心</h1>
            <div class="author tc">
                内容
            </div>
            <div style="border-top: #efefef solid 1px;">
            </div>
        </div>
    </div>
</div>

