@model StockNet.Areas.Admin.Models.StockIndexViewModel
@{
    ViewBag.Title = "库存货源";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("首页", "/Admin", "fa-dashboard"),
        new Crumb("库存货源")
    });
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@(Model.Member != null ? Model.Member.RealName + "的" : "")库存货源</h3>
            </div>
            <div class="box-body">
                <table id="tbl_data" class="table table-bordered table-striped  table-hover">
                    <thead>
                        <tr>
                            <th width="150px">名称</th>
                            <th>分类</th>
                            <th>图片</th>
                            <th>价格数量</th>
                            <th>是否验证</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
                <form id="__AjaxAntiForgeryForm" action="#" method="post">
                    @Html.AntiForgeryToken()
                </form> 
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var tbl = $("#tbl_data").dataTable({
                bSort: false,
                bProcessing: true,
                bServerSide: true,
                sServerMethod: 'POST',
                sAjaxSource: '/Admin/Stock/List?q=@(Model.Search)&@(Model.MemberId.HasValue ? "memberid=" + Model.MemberId.Value : "")',
                aoColumns: [null, null, {
                    mData: function (source, type, val) { return '<img src="' + source[2] + '" style="width:64px;height:64px;" alt=""/>'; }
                }, null, null, null,
                    {
                        mData: function (source, type, val) {
                            return '<a href="/Admin/Stock/Edit/' + source[6] + '"><i class="fa fa-edit"></i>编辑审核</a>&nbsp;&nbsp;' +
                                '<a href="#" class="fs-del" data-id="' + source[6] + '"><i class="fa fa-remove"></i>删除</a>';
                        }
                    }],
                fnDrawCallback: function (oSettings) {
                    $("#tbl_data a.fs-del").click(function () {
                        if (confirm("确定要删除此库存么？")) {
                            var id = $(this).data("id");
                            $.post("/Admin/Stock/Del", { id: id, __RequestVerificationToken: $('#__AjaxAntiForgeryForm input[name="__RequestVerificationToken"]').val() },
                            function (res) {
                                if (res == "ok") {
                                    window.location.reload();
                                } else {
                                    alert(res);
                                }
                            });
                        }
                    });
                },
                fnInitComplete: function (oSettings, json) {
                    $("#" + oSettings.sTableId + "_filter input").val("@(Model.Search)");
                },
                oLanguage: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            });

        });
    </script>
}
