
@{
    ViewBag.Title = "免责声明";
}
@section curnav{
    <div class="block box">
        <div id="ur_here">
            <div class="ur_here blank">
                当前位置: <a href="/">首页</a> <code>&gt;</code> 免责声明
            </div>
        </div>
    </div>
}
<div class="block box info">
    @Html.Raw(ViewBag.InfoContent)
</div>

